[submodule "themes/hugo-theme-terminal"]
	path = themes/hugo-theme-terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/panr/adityatelange/hugo-PaperMod.git
